/* HEADER */
header {
    font-size: 46px;
    height: 80px;
    margin: 0 auto 26px auto;
}

header div {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 22px 0 22px;
}

header img {
    width: 75px;
    height: 53px;
    object-fit: cover;
}

/* LOGIN SCREEN */
.loginScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 2;
}

.logoImg{
    width: 135px;
    object-fit: cover;
    margin-top: 70px;
}

.loginScreen input {
    width: 225px;
    height: 35px;
    margin-top: 100px;
    text-align: center;
    border: 1px solid rgba(189, 195, 199, 0.9);
    border-radius: 5px;
}

.loginScreen input::placeholder {
    color: rgba(189, 195, 199, 0.9);
}

.loginScreen span {
    padding-top: 5px;
    color: red;
}

.loginScreen button {
    border: none;
    margin-top: 30px;
    color: gray;
}

.loginScreen p {
    font-size: 22px;
}

/* Main - MESSAGES */
main {
    height: calC(100vh - 242px);
    overflow-y: scroll;
    word-break: break-all;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    flex-grow: 2;
}

main span {
    font-size: 14px;
    line-height: 22px;
    color: #AAAAAA;
    padding-left: 9px;
}

main p {
    padding-left: 9px;
    font-size: 14px;
    line-height: 22px;
}

main b {
    font-weight: 700;
}

.statusMessage {
    background-color: #DCDCDC;
}

.privateMessage {
    background-color: #FFDEDE;
}

/* ASIDE - BARRA COM PARTICIPANTES E VISUALIZAÇÃO DAS MENSAGENS */
aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 2;
    transition: 1s, linear;
}

.grayArea {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100vw - 259px);
    background-color: rgba(97, 97, 97, 0.7);
}

.content {
    width: 259px;
    height: 100%;
    background-color: white;
    
}

.ionicon {
    font-size: 25px;
    margin-right: 7px;
}

.check {
    color: #28BB25;
    position: absolute;
    right: 15px;
    display: none;
}

.selected ion-icon:last-child {
    display: block;
} 

.users h3 {
    width: 259px;
    height: 80px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.receiverSelection {
    display: flex;
    min-height: 114px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.receiverSelection div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 10px 20px;
}

.visibilitySelection {
    height: 127px;
    background-color: white;
}

.visibilitySelection h3 {
    width: 259px;
    height: 66px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}

.visibilitySelection div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 10px 20px;
}

/* FOOTER - INPUT FOR SENDING MESSAGES */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 30px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer input {
    margin-left: 17px;
    font-style: italic;
    border: none;
    height: 20px;
}

footer input::placeholder {
    color: #000000;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

footer span {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    padding-left: 19px;
}

footer ion-icon {
    padding-right: 17px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}